@import "tailwindcss";

.text-stroke {
  -webkit-text-stroke: 1px black;  /* Black outline */
  -webkit-text-fill-color: white;  /* White fill */
}



.swiper-button-next,
.swiper-button-prev {
  color: #facc15; /* yellow color for arrows */
}
